
.image-horizontal{
  margin-top: 30px;
}

.main-container{
  margin: 0 auto;
  background: #F5F5F5;
  max-width: 1170px;
}

.image-horizontal{
  width: 100%;  
}

.image-content{
  width: 100%;
  display: inline-block
}

.img-container{
  width: 100%;
  display: inline-block;
}

.image-wrapper {
  position: relative;
  padding-bottom: 56.2%;
}

.image-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


@media only screen and (min-width: 767px) {
  .image-content{
    width: 39%;
  }
  
  .img-container{
    width: 60%;
  }
}

.def-column{
  width: 100%;
}

@media only screen and (min-width: 767px) {
  .def-column{
    width: 30%;
    padding: 10px;
    display: inline-block;
  }
}

.def-column .img-container{
  width: 100%;
  
}

.def-column .image-content{
  width: 100%;
}

.hero-image-small{
  margin-top: 30px;
  max-width: 100%; 
  margin: 0 auto;
}

@media only screen and (min-width: 767px) {
.hero-image-small{
  max-width: 70%;
}
}

.text-title{
  POSITION: absolute;
    TOP: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}


